*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

a {
    display: inline-block;
}

input,
input:focus,
button,
button:focus,
textarea {
    border: none;
    outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
}

body{
    background: #000;
    min-width: 320px;
}

.container{
    padding: 0 15px;
    width: 100%;
    max-width: 1110px;
    margin: 0 auto;
}